{
  "presets": [
    ["@babel/env", {
      "modules": false
    }],
    "@babel/react",
    "@babel/stage-0"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy"
  ]
}
