{
  "parser": "babel-eslint",
  "rules": {
    // Global
    "max-len": [2, 120],
    "func-names": 0,
    "prefer-arrow-callback": 0,

    // React
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0,

    // Ally
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/label-has-for": [ 2, {
      "components": [ "Label" ],
      "required": {
        "every": [ "id" ]
      },
      "allowChildren": false
    }]
  },
  "extends": [
    "airbnb",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "jest"
  ],
  "env": {
    "browser": true,
    "jest/globals": true
  }
}
